body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightseagreen;
}

#input {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#container {
    display: flex;
    background-color: white;
    border: 5px darkslategray solid;
    overflow: auto;
}

#title {
    text-align: center;
    color: mintcream;
}
