body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightseagreen;
}

#input {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#container {
    display: flex;
    background-color: white;
    border: 5px darkslategray solid;
    overflow: auto;
}

#reset {
    background: pink;
    color: black;
    align-self: flex-end;
    height: 30px;
    width: 70px;
}

#title {
    text-align: center;
    color: mintcream;
}
